<!DOCTYPE html>
{% extends "careerapp/base.html" %}
<head>
</head>
<body>
	{% block content %}
	<div class="container">
		<p>
			<form action="{% url 'add-experience' %}" method="post">
				
			{% for error in form_r.non_field_errors %}
			<p style="color:red">
				{{error}}
			</p>
			{% endfor %}
				
			{% for field in form.visible_fields %}
				{% for error in field.errors %}
					<p style="color:red">
						{{error}}
					</p>
				{% endfor %}
			<b>{{field.label}}: </b>{{field}}<br>
			{% endfor %}
			<!--input type="hidden" value="{{company.id}}" name="companyid"-->
			<input type="submit" value="Submit" class="btn btn-success">
			{% csrf_token %}
			</form>
		</p>
	</div>
	{% endblock %}
</body>