<!DOCTYPE html>
<html lang="en">
  {% extends "careerapp/base.html" %}
  <head>
{% block title %} Password Reset Confirm {% endblock %}
  </head>

  <body>

    <!-- Fixed navbar -->
	
	{% block content %}
	
	<div class="container">
	    <div style="float:right">
		<form action="{% url 'django.contrib.auth.views.password_reset_complete' %}" method="post">
		{% for field in form.visible_fields %}
		<b>{{field.name}}: </b>{{field}}<br>
		{% endfor %}
		
		<input type="submit" value="Submit" class="btn btn-success">
		{% csrf_token %}
		</form>
		</div>
	 </div>

	  

	  
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
	
	{% endblock %}
  </body>
</html>