<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.png">

    <title>{% block title %} Password Reset {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% block css %}/static/css/navbar-fixed-top.css {% endblock %}" rel="stylesheet">
	
	{% block sheet %}
	<link href="/static/css/careertrak.css" rel="stylesheet">
	{% endblock %}


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/assets/js/html5shiv.js"></script>
      <script src="/static/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
	<div class="container">
		<p>
			<form action="{% url 'resetpassword' %}" method="post">
				
			{% for error in form_r.non_field_errors %}
			<p style="color:red">
				{{error}}
			</p>
			{% endfor %}
				
			{% for field in form.visible_fields %}
				{% for error in field.errors %}
					<p style="color:red">
						{{error}}
					</p>
				{% endfor %}
			<b>{{field.label}}: </b>{{field}}<br>
			{% endfor %}

			<input type="submit" value="Submit" class="btn btn-success">
			{% csrf_token %}
			</form>
		</p>
	</div>
</body>