<!DOCTYPE html>
{% extends "careerapp/base.html" %}
<head>
</head>
<body>
	{% block content %}
	<div class="container">
		<p>
			{% for error in errors %}
			
			{% endfor %}
			<!--this will break. only do this on post request, not get -->
			<form action="{% url 'editpassword' %}" method="post">
			{% for error in form.non_field_errors %}
			<p style="color:red">
				{{error}}
			</p>
			{% endfor %}			

			{% for field in form.visible_fields %}
				{% for error in field.errors %}
					<p style="color:red">
						{{error}}
					</p>
				{% endfor %}
			{{field}}<br>
			{% endfor %}
			{% csrf_token %}
			<button action="submit"> Submit </button>
			</form>
		</p>
	</div>
	{% endblock %}
</body>
