<!DOCTYPE html>
{% extends "careerapp/base.html" %}
<head>
</head>
<body>
	{% block content %}
	<div class="well container" id="editDiv">
		<h1>Edit Profile</h1>

          <!-- Upload Photo Stuff -->
          <form enctype="multipart/form-data" action="{% url 'add-photo' %}" method="post">
		   <input id="pickPhoto" type="file" class="btn btn-success btn-default" name="picture" value="Choose Photo" style="width:15em">
	       <input id="uploadPhoto" type="submit" class="btn btn-success btn-default" name="uploadPhoto" value="Upload Photo">
		   {% csrf_token %}
    	  </form>
		
		
			<form action="{% url 'recruiter-edit' %}" method="post">
				
			{% for error in form.non_field_errors %}
			<p style="color:red">
				{{error}}
			</p>
			{% endfor %}
				
			{% for field in form.visible_fields %}
				{% for error in field.errors %}
					<p style="color:red">
						{{error}}
					</p>
				{% endfor %}
			<b>{{field.label}}: </b>{{field}}<br>
			{% endfor %}
			<!--input type="hidden" value="{{company.id}}" name="companyid"-->
			<input type="submit" value="Submit" class="btn btn-success">
			{% csrf_token %}
			</form>
		
	
	</div>
	{% endblock %}
</body>