<!DOCTYPE html>
{% extends "careerapp/base.html" %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.png">

    <title>Fixed Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% block css %} /static/css/profile.css {% endblock %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/assets/js/html5shiv.js"></script>
      <script src="/static/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	{% block title %} {{pg_user.first_name}} {{pg_user.last_name}} {% endblock %}

		    {% block content %}
			<div class="row">
				<div class="jumbotron container block span4" id="profileDiv" style="float:left">
					<div class="col-md-4">
						{% if photoID %}
						<img src="{% url 'get-photo' photoID %}" alt="profilePicture" width="160">
                        {% else %}
                        <img src="http://www.pledgecents.com/images/ProfilePlaceholderSuit.png" alt="profilePicture" width="90%" height="90%">
						{% endif %}
						
						{% if canEdit %}

						{% endif %}
						{% if canRequest %}
						
						{% if pendingRequest == 'pending' %}
							<p>Request Pending</p>
						{% else %}
							<a href="{% url 'request-connect' pg_user.id %}"> <button class="btn btn-default">Connect</button> </a>
						{% endif %}
		
						{% endif %}
						


						

						
					</div>
					<div id="infoDiv" class="col-sm-8 col-md-8">
						<ul class="nav well">

							<li><h2>{{pg_user.first_name}} {{pg_user.last_name}}  </h2></li>
							{% if isStudent %}
							<li><h3>{{pg_user.first_name}} {{pg_user.last_name}} is a {{pg_user.userProfile.userType}} at {{pg_user.userProfile.school.name}}<h3></li>
							<li><h4>{{pg_user.userProfile.location}}</h4></li>
							<li><h5>{% if userProfile.degree or userProfile.major %}<b>Education:  </b>{% endif %}{{userProfile.degree}} {% if userProfile.degree and userProfile.major %} in {% endif %}{{pg_user.userProfile.major}}</h5></li>
							{% endif %}
							{% if isRecruiter %}
							<li><h3>{{pg_user.first_name}} {{pg_user.last_name}} is a {{pg_user.userProfile.userType}} at {{pg_user.userProfile.company.name}}<h3></li>
                            <li><h4>{{pg_user.userProfile.location}}</h4></li>
                            <li><h5>{%if pg_user.userProfile.schools %}Recruits for: {{pg_user.userProfile.schools}}{% endif %}</h5></li>
							{% endif %}

						</ul>
						<!--form-->
						{% if canEdit %}

                        {% if isStudent %}
						<a href="{% url 'edit' %}"> 
                        {% else %}
                        <a href="{% url 'recruiter-edit' %}">
                        {% endif %}
                            <button class="btn btn-default btn-success">Edit</button></a>
						{% endif %}
						
						{% if connections %}
						<br>
						<strong> My Connections </strong><br>
						
						{% for user in connections %}
							Connection: {{user.first_name}} {{user.last_name}} <br>
						{% endfor %}
						
						{% endif %}
						
						
						{% if connectrequests %}
						<br>
						<strong> Connection Requests </strong><br>
						
						{% for requestuser in connectrequests %}
							Accept <a href="{% url 'accept' requestuser.id %}">{{requestuser.first_name}} {{requestuser.last_name}}</a> <br>
						{% endfor %}
						
						{% endif %}
						<!--/form-->
					</div>
				</div>
			</div>
			
			
			
		  {% endblock %}
          <div class="row">
		  {% block info %}

          {% if pg_user.background %}
            <div class="row">
				<div class="span4 well">
					<h2>Background</h2>
					<p>{{pg_user.background}}</p>
				</div>
			</div><!--/span-->
          {% endif %}

		  {% if isStudent %}
		  {% if canEdit %}

		  {% if transcriptID %}
		  <object src="{% url 'get-transcript' transcriptID %}" alt="transcript"><a href="{% url 'get-transcript' transcriptID %}">Transcript</a></object>
		  {% endif %}
		  {% if letterID %}
		  <object src="{% url 'get-letter' letterID %}" alt="letter"><a href="{% url 'get-letter' letterID %}">Letter of Recommendation</a></object>
		  {% endif %}
            
          <a href="{% url 'add-experience' %}"><button type="submit" class="btn btn-success" >Add Experience</button></a>
		  {% endif %}



            {% for experience in experiences %}
			<div class="row">
				<div class="span4 nav well">
					<h2>Experience</h2>
					<li><h3>{{experience.title}}</h3><br>
					     <p>{{experience.description}}</p></li>
				</div>
			</div><!--/span-->
            {% endfor %}

			{% endif %}
			{% endblock %}
          </div><!--/row-->
        </div><!--/span-->
		
  </body>
</html>
