body {
	padding-top: 70px;
}

.block {
	overflow: hidden;
}


.infoDiv {
	display: block;
	background-color:#f5f5f5;
	min-height:160px;
	max-width: 600px;
	
	
	

}
.searchContent{
	margin: 12px 16px 0 16px;
	padding:8px;
	max-width: 600px;
	min-height: 140px;
	position: relative;
	background-color:white;

}

.searchItemHead{
	margin-top:20px;
	font-size: 28px;
	line-height: 12px;
	white-space: nowrap;


}

.searchBox{

	max-width: 900px;
	min-height:100px;
}

.resultDiv{
	background-color:gray;

}

.resultPic{
	margin:10px;
}

.resultType{
	margin-top:18px;
	margin-left:5px;
	color: #242424;
	font-size: 22px;

	overflow: hidden;
	font-weight: 500 ;
	white-space: nowrap;
}
